In [1]:
# 패키지 준비

import pymysql
import pandas as pd

In [2]:
# csv 파일을 DataFrame형식으로 불러와서 MySQL에 들어갈 수 있도록 nan -> None 변환 및 데이터 속성 변경 후 list형식으로 변환
# 중복값 제거

df = pd.read_csv("..\data-files\movie_list_result.csv", encoding='utf-8')
df = df.where((pd.notnull(df)), None)
df['movieCd'] = df['movieCd'].astype('int').astype('str')
df['prdtYear'] = df['prdtYear'].astype('int').astype('str')
df['openDt'] = df['openDt'].astype('int').astype('str')

print(df.info())

print("==========================")
genres = df['repGenreNm']
processed_genres = set(genres)
print(processed_genres)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47051 entries, 0 to 47050
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   movieCd      47051 non-null  object
 1   directors    47051 non-null  object
 2   movieNm      47051 non-null  object
 3   movieNmEn    47051 non-null  object
 4   prdtYear     47051 non-null  object
 5   openDt       47051 non-null  object
 6   typeNm       46994 non-null  object
 7   prdtStatNm   46913 non-null  object
 8   nationAlt    46962 non-null  object
 9   repNationNm  46968 non-null  object
 10  genreAlt     47051 non-null  object
 11  repGenreNm   47051 non-null  object
dtypes: object(12)
memory usage: 4.3+ MB
None
==========================
{'전쟁', '가족', '성인물(에로)', '공포(호러)', 'SF', '멜로/로맨스', '범죄', '사극', '드라마', '기타', '어드벤처', '스릴러', '판타지', '서부극(웨스턴)', '공연', '미스터리', '뮤지컬', '애니메이션', '코미디', '다큐멘터리', '액션'}

In [ ]:
# Genre 테이블에 데이터 넣는 코드

conn = pymysql.connect(host="localhost",
                       database="firstkino",
                       user="kdigital",
                       password="mysql",
                       charset="utf8")

with conn.cursor() as cursor:
    for post in processed_genres:
        cursor.execute("INSERT INTO Genre (genreNm) values (%s)", (post))
    conn.commit()

conn.close()