In [1]:
#패키지 준비

import pymysql
import pandas as pd

In [2]:
#csv 파일을 DataFrame형식으로 불러와서 MySQL에 들어갈 수 있도록 nan -> None 변환 및 데이터 속성 변경 후 list형식으로 변환

df = pd.read_csv("..\data-files\movie_list_result.csv", encoding='utf-8')
df = df.where((pd.notnull(df)), None)
df['movieCd'] = df['movieCd'].astype('int').astype('str')
df['prdtYear'] = df['prdtYear'].astype('int').astype('str')
df['openDt'] = df['openDt'].astype('int').astype('str')

print(df.info())

print("==========================")
s = df.values.tolist()
print(s[0])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47051 entries, 0 to 47050
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   movieCd      47051 non-null  object
 1   directors    47051 non-null  object
 2   movieNm      47051 non-null  object
 3   movieNmEn    47051 non-null  object
 4   prdtYear     47051 non-null  object
 5   openDt       47051 non-null  object
 6   typeNm       46994 non-null  object
 7   prdtStatNm   46913 non-null  object
 8   nationAlt    46962 non-null  object
 9   repNationNm  46968 non-null  object
 10  genreAlt     47051 non-null  object
 11  repGenreNm   47051 non-null  object
dtypes: object(12)
memory usage: 4.3+ MB
None
==========================
['20206061', '콜린 트레보로우', '쥬라기 월드: 도미니언', 'Jurassic World: Dominion', '2022', '0', '장편', '개봉예정', '미국', '미국', '액션,어드벤처', '액션']

In [3]:
# 테이블 초기화

conn = pymysql.connect(host="localhost",
                       database="firstkino",
                       user="kdigital",
                       password="mysql",
                       charset="utf8")

with conn.cursor() as cursor:
    cursor.execute('DELETE FROM movie')

conn.close()

In [4]:
# list형식의 데이터를 테이블에 넣는 작업

conn = pymysql.connect(host="localhost",
                       database="firstkino",
                       user="kdigital",
                       password="mysql",
                       charset="utf8")

with conn.cursor() as cursor:
    for post in s:
        cursor.execute("INSERT INTO movie (movieCd, movieNm, movieNmEn, prdtYear, openDt) values (%s, %s, %s, %s, %s)", 
                       (post[0], post[2], post[3], post[4], post[5]))
    conn.commit()

conn.close()